{% extends '_base.html' %} {% block content %}

<div class="app-body">
	<h2>Group Members</h2>
    <ul>
        <li class="body-text">Kevin Corcoran</li>
        <li class="body-text">Garrett Dicenzo</li>
        <li class="body-text">Pran Sutham</li>
        <li class="body-text">Nicholas Thompson</li>
        <li class="body-text">James Wang</li>
    </ul>
    <h2>Project Description</h2>
    <p class="body-text">This website will allow users to upload a photo of a dog, then the AI model will return what breed of dog it is along with some links to information about the breed.</p>
</div>

{% endblock %}